# Generated QT Files
can-translator/Makefile
can-translator/can-translator
can-translator/*moc*
telemetry-monitor/Makefile
telemetry-monitor/telemetry-monitor
telemetry-monitor/*moc*
*.sublime-workspace
can-translator/out.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.mk
*.bash
*.properties
*.d
*.hex
*.map
*.cof
Telem_Node.X/nbproject/private/configurations.xml
ECAN.X/nbproject/private/configurations.xml
Analog_Node.X/nbproject/private/configurations.xml
uSD_Node.X/nbproject/private/configurations.xml
ECAN.X/nbproject/private/configurations.xml
ECAN.X/nbproject/private/configurations.xml
uSD_Node.X/nbproject/private/configurations.xml
Analog_Node.X/nbproject/private/configurations.xml
